# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Настройки секретного ключа проекта django в config/settings.py
#Django рекомендует в целях безопасности хранить секретный ключ, используемый в продакшене, в тайне!
SECRET_KEY_FOR_PROJECT=secret_key_here

# Настройки дебага. В settings.py дебаг должен быть описан так: DEBUG = True if os.getenv('DEBUG') == 'True' else False
DEBUG=

# Настройки БД проекта django в config/settings.py
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Секретный ключ для платежного сервиса Stripe
SECRET_KEY_FOR_STRIPE=secret_key_here

# URL-адрес брокера сообщений (Redis)
CELERY_BROKER_URL=

# URL-адрес брокера результатов - хранилище результатов выполнения задаx (использую тот же Redis)
CELERY_RESULT_BACKEND=

# Настройка SMTP-сервера Яндекса для отправки писем пользователям:
YANDEX_EMAIL_HOST_USER=
YANDEX_EMAIL_HOST_PASSWORD=password_here
